[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
psycopg2-binary = "*"
flask-migrate = "*"

[dev-packages]
neovim = "*"
black = "*"

[requires]
python_version = "3.9"
